<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<style>
    .header {
        font-size: 42px;
        line-height: 1.8;
        padding-left: 15px;
        background-color: yellow;
    }
    li {
        font-size: 25px;
        line-height: 1.4;
        letter-spacing: 0.086em;
        font-weight: 400;
        padding-left: 30px;
    }
</style>
</head>
<body>

<h1 class="header">Product</h1>
{% for i in products %}
  <li> name:{{i.name}}, wieght:{{i.weight}}, price:{{i.price}}</li>
{% endfor %}

<h1 class="header">Customer</h1>
{% for i in customers %}
  <li> name:{{i.name}}, dob:{{i.dob}}, born_in_month:{{i.dob.month}}</li>
{% endfor %}

</body>
</html>